body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: antiquewhite;
}

#container {
    width: 900px;
    margin: auto;
    color: rgba(80, 80, 83, 0.966);
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    padding-left: 10px;
    float: left;
    width: 630px;
    background-color: beige;
    padding-top: 0;
    height: 700px;
    
}

.heading {
    text-align: center;
    text-decoration: underline;
    color: brown;
}

.headings {
    text-decoration: underline;
}

.quotes {
    font-family: cursive;
    border: 1px solid gray;
    padding-left: 5px;
}

.quotes p {
    margin-top: 0;
}

.rightside {
    float: right;
    background-color: beige;
    height: 700px;
    padding-right: 8px;
    padding-top: 10px;
}

.rightside img {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#phototext {
    text-align: center;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icons i {
    color: rgba(184, 151, 43, 0.733);
    background: beige;
    padding-right: 8px;
    font-size: 40px;
}